:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  overscroll-behavior: none;
  background-color: lightgreen;
}

main{
  flex:1;
  display: flex;
}

#gameCanvas{
  border: 1px sloid black;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  display:flex;
  z-index: 1;
}
#gameBG{
  background-color: lightgreen;
}
.timerPlaceHolder {
  display: flex;
  flex-wrap: nowrap;
  background-color: whitesmoke;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  position: absolute;
  right: 6.5%;
  top: 10%; 
}
